<!DOCTYPE html>
<html>
<script src = "/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" href="awesomplete.css" />
<link rel="stylesheet" href="style.css"/>
<script src="awesomplete.js" ></script>
<script src = "script.js"></script>
<head>
        <title>IMA Self-Help Flowchart</title>
</head>

<body>
    <h1>Welcome to the IMA Self-Help Text-Adventure! If you need help, just type help and it will come.</h1>
    <br>
    <article id = "adventure_prompt">
        You find yourself sitting in a smoky room. An animatronic psychic of undetermined gender takes their place across from you,
        a large crystal LED sits below them, soldering fumes and lasercutter smoke swirling within.
        They ask, 'You have come to me for help, and I shall provide. But first, what group best describes
        your role here at IMA?'
        <br>
    </article>
    <form id = "adventure_input" action = "">
        <input id="myinput" />
    </form>
</body>
</html>