<!DOCTYPE html>
<html>
<script src = "/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" href="awesomplete.css" />
<link rel="stylesheet" href="style.css"/>
<script src="awesomplete.js" ></script>
<script src = "script.js"></script>
<head>
        <title>IMA Self-Help Flowchart</title>
</head>
<body>
    <article id = "adventure_prompt">

    </article>
    <form id = "adventure_input" action = "">
        <input id="myinput" />
    </form>
</body>
</html>