html{
    margin:0;
    padding:0;
    background-color: black;
    color: white;
}

body{
    font-family: monospace;
    margin: 0 auto;
    width: 1000px;
}

h1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

a{
    text-decoration: none;
}

input[type=text] {
    background: transparent;
    color:white;
    list-style: none;
    font-size: 20px;
    width:660px;
    border: none;
    font-family: monospace;
}

input:focus, textarea:focus {
    outline: none;
}

#adventure_prompt{
    margin: 0 auto;
    width: 700px;
    text-align: left;
    font-size: 20px;
}

#adventure_input{
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    width: 700px;
    color: black;
}

#input_cursor{
    color:white;
    display: inline-block;
    font-weight: 20px;
}

