html{
    margin:0;
    padding:0;
    background-color: black;
}

body{
    font-family: "Inconsolata";
    margin: 0 auto;
    width: %100;
}

#adventure_prompt{
    margin: 0 auto;
    width: 800px;
    padding: 50px;
    color: white;
    text-align: left;
}

#adventure_input{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: black;
}